{% block content %}
	<div class="main-login col-xs-10 col-sm-8 col-md-3">
		<div class="logo margin-top-30">
			<img src="assets/phr/images/logo.png" alt="Healthsnapp"/>
		</div>
		<div class="box-login"> 
            <form class="form-login" role="form">
				<fieldset>
					<legend>Login</legend>
					<br>
					<div class="form-group">
						<span class="input-icon">
							<input type="text" id="login_email" class="form-control" name="email" placeholder="Email" required autofocus>
							<i class="fa fa-envelope"></i> </span>
					</div>
					<div class="form-group">
						<span class="input-icon">
							<input type="password" id="login_password" class="form-control" name="password" placeholder="Password" required>
							<i class="fa fa-lock"></i>
						</span>
					</div>
					<div class="form-group clearfix"> 
						<button type="submit" class="btn btn-primary col-md-12">
							Sign in <i class="fa fa-arrow-circle-right"></i>
						</button>
                    </div>
                    {%- if social_login -%}    
                    <div class="form-group margin-top-15 clearfix">
                        <span>or Log in via</span>
					</div>
					{%- if facebook_login is defined %}
                    <div class="form-group clearfix"> 
						<a href="{{ facebook_login }}" class="btn btn-primary col-md-12">
							<i class="fa fa-facebook-square"></i> Facebook 
						</a>
                    </div>
                    {%- endif -%}
					{%- if google_login is defined %}
                    <div class="form-group clearfix"> 
                        <a href="{{ google_login }}" class="btn btn-primary col-md-12">
							<i class="fa fa-google-plus-square"></i> Google 
						</a>
                    </div> 
                    {%- endif -%}
                    {%- endif -%}
                    {%- if not disable_signup -%}
					<div class="new-account">
						Not a user yet?
						<a href="#signup">
							Sign up
						</a>
					</div>
					{%- endif -%}
                    <div class="margin-top-10">
                    	<a href="#forgot">
                            Forgot Password?
                        </a>
                    </div>
                    <div class="clearfix"></div>
				</fieldset>
			</form>
			<form class="form-register form-signup hide" role="form" autocomplete="off">
				<fieldset>
					<legend>Sign Up</legend>
					<br>
					<div class="form-group">
						<input type="text" class="form-control" name="first-name" id="signup_firstname" placeholder="First Name" required>
					</div>
                    <div class="form-group">
						<input type="text" class="form-control" name="middle-name" placeholder="Middle Name" id="signup_middlename" required>
					</div>
                    <div class="form-group">
						<input type="text" class="form-control" name="last-name" placeholder="Last Name" id="signup_lastname" required>
					</div>  
					<div class="form-group">
						<span class="input-icon">
							<input type="email" class="form-control disable" name="email" placeholder="Email ID" id="signup_email" required>
							<i class="fa fa-envelope"></i> </span>
					</div>
                    <div class="form-group">
						<span class="input-icon">
							<input type="email" class="form-control disable" name="confirm-email" placeholder="Confirm Email ID" id="signup_email_cnf" required>
							<i class="fa fa-envelope"></i> </span>
					</div>
					<div class="form-group">
						<span class="input-icon">
							<input type="text" class="form-control disable" name="contact" placeholder="Contact No" id="signup_contact" required>
							<i class="fa fa-phone"></i> </span>
					</div>
					<div class="form-group">
						<span class="input-icon">
							<input type="text" class="form-control disable" name="confirm-contact" placeholder="Confirm Contact No" id="signup_contact_cnf">
							<i class="fa fa-phone"></i> </span>
					</div> 
					<div class="form-actions"> 
						<button type="submit" class="btn btn-primary col-md-12">
							Sign up <i class="fa fa-arrow-circle-right"></i>
						</button>
					</div>
                    <div class="form-actions">
						<p>
							Already have an account?
							<a href="#login">Log-in</a>
						</p> 
					</div>
				</fieldset>
			</form>
			<form class="form-forgot hide" role="form">
				<fieldset>
					<legend>Forget Password?</legend>
					<br>
					<p>Enter e-mail address to reset your password.</p>
					<div class="form-group">
						<span class="input-icon">
							<input type="email" class="form-control" name="email" placeholder="Email" required autofocus>
							<i class="fa fa-envelope-o"></i> </span>
					</div>
					<div class="form-actions"> 
						<button type="submit" class="btn btn-primary col-md-12">
							Send Password <i class="fa fa-arrow-circle-right"></i>
						</button>
					</div>
                    <div class="form-actions">
						<a class="btn btn-primary col-md-12" href="#login">
							<i class="fa fa-chevron-circle-left"></i> Log-In
						</a> 
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		window.history.forward();
		function noBack(){
			window.history.forward();
		}
        $(function () {
            var controls = $(".disable");
            controls.bind("paste", function () {
                return false;
            });
            controls.bind("drop", function () {
                return false;
            });
            controls.bind("cut", function () {
                return false;
            });
            controls.bind("copy", function () {
                return false;
            });
        });
	</script>
	<script src="assets/phr/js/login.js"></script>
	<script>
		jQuery(document).ready(function() {
			Login.init();
		});
	</script>
{% endblock %}
{% block script_lib %}{% include "templates/includes/login.js" %}{% endblock %}
{% block sidebar %}{% endblock %}