{% block content %}
<link rel="stylesheet" href="/assets/phr/css/bootstrap.css">
<link rel="stylesheet" href="/assets/phr/css/phr_login.css">
<section id="banner-slider">
	<div class="container login-container">
		<div class="login-wrapper">
			<!-- Nav tabs -->
			<ul id="loginTabs" class="nav nav-tabs" role="tablist">
				<!-- <li role="presentation" class="active"><a href="#patient" aria-controls="patient" role="tab" data-toggle="tab">Patient Login</a></li>
				<li role="presentation"><a href="#provider" aria-controls="provider" role="tab" data-toggle="tab">Provider Login</a></li> -->
				<li role="presentation" class="active" id="li-patient">
					<a href="#patient" aria-controls="patient" role="tab" data-toggle="tab">Patient Login</a>
				</li>
				<li role="presentation" id="li-provider">
					<a href="#provider" aria-controls="provider" role="tab" data-toggle="tab">Provider Login</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="patient">
					<form name="patient-login-form" class="form-login patient-login" method="post" style="background-color:white">
						<div class="form-group">
							<span class="input-icon">
								<input type="text" id="patient_login_email" class="form-control" name="email" placeholder="Email" required autofocus>
								<i class="fa fa-envelope"></i> </span>
						</div>
						<div class="form-group">
							<span class="input-icon">
								<input type="password" id="patient_login_password" class="form-control" name="password" placeholder="Password" required>
								<i class="fa fa-lock"></i>
							</span>
						</div>
						<div class="form-group clearfix">
							<button type="submit" class="btn btn-primary col-md-12">
								Login <i class="fa fa-arrow-circle-right"></i>
							</button>
						</div>
						{%- if social_login -%}
						<div class="form-group margin-top-15 clearfix text-center">
							<span>or Login via</span>
						</div>
						{%- if facebook_login is defined %}
						<div class="form-group clearfix">
							<a href="{{ facebook_login }}" class="btn btn-primary col-md-12">
								<i class="fa fa-facebook-square"></i> Facebook
							</a>
						</div>
						{%- endif -%} {%- if google_login is defined %}
						<div class="form-group clearfix">
							<a href="{{ google_login }}" class="btn btn-primary col-md-12">
								<i class="fa fa-google-plus-square"></i> Google
							</a>
						</div>
						{%- endif -%} {%- endif -%} {%- if not disable_signup -%}
						<div class="new-account text-center">
							Not a user yet?
							<a href="/signup#patient-signup">Sign up</a>
						</div>
						{%- endif -%}
						<div class="margin-top-10 text-center">
							<a href="#forgot">Forgot Password?</a>
						</div>
						<div class="clearfix"></div>
					</form>
				</div>
				<div role="tabpanel" class="tab-pane" id="provider">
					<form name="provider-login-form" class="form-login provider-login" method="post" style="background-color:white">
						<div class="form-group">
							<span class="input-icon">
								<input type="text" id="provider_login_email" class="form-control" name="email" placeholder="Email" required autofocus>
								<i class="fa fa-envelope"></i> </span>
						</div>
						<div class="form-group">
							<span class="input-icon">
								<input type="password" id="provider_login_password" class="form-control" name="password" placeholder="Password" required>
								<i class="fa fa-lock"></i>
							</span>
						</div>
						<div class="form-group clearfix">
							<button type="submit" class="btn btn-primary col-md-12">
								Login <i class="fa fa-arrow-circle-right"></i>
							</button>
						</div>
						{%- if not disable_signup -%}
						<div class="new-account text-center">
							Not a user yet?
							<a href="/signup#provider-signup">Sign up</a>
						</div>
						{%- endif -%}
						<div class="margin-top-10 text-center">
							<a href="#forgot">Forgot Password?</a>
						</div>
						<div class="clearfix"></div>
					</form>
				</div>
				<form class="form-forgot hide" role="form" style="background-color:white">
					<!-- <fieldset class="tab-content">
						<legend>Forget Password?</legend>
						<br> -->
						<p>Enter e-mail address to reset your password.</p>
						<div class="form-group">
							<span class="input-icon">
								<input type="email" class="form-control" name="email" id="forgot_email" placeholder="Email" required autofocus>
								<i class="fa fa-envelope-o"></i> </span>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary col-md-12">
								Send Password <i class="fa fa-arrow-circle-right"></i>
							</button>
						</div>
						<div class="form-actions">
							<!-- <a class="btn btn-primary col-md-12" href="#login">
								<i class="fa fa-chevron-circle-left"></i> Log-In
							</a> -->
							<center>
							<a class="text-center" href="#login">
								<i class="fa fa-chevron-circle-left"></i> Login
							</a>
							</center>
						</div>
					<!-- </fieldset> -->
				</form>
			</div>
		</div>
	</div>
	<div class="container-fluid">
        <div id="carousel-example-generic" class="carousel carousel-fade" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li> 
            <li data-target="#carousel-example-generic" data-slide-to="2"></li> 
            <li data-target="#carousel-example-generic" data-slide-to="3"></li> 
          </ol>
        
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="assets/phr/images/banner1.jpg" width="100%" alt="healthsnapp">
              <div class="container">
                <div class="row">
                  <div class="carousel-caption">
                    <p>Fed-up with an un-organized paper based <br />
                    <span class="green">Medical reports, X-rays, Prescription, Bills...</span></p>
                    <a href="javascript:void(0);" class="expore-link btn">EXPLORE HEALTHSNAPP</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="assets/phr/images/banner1.jpg" width="100%" alt="healthsnapp">
              <div class="container">
                <div class="row">
                  <div class="carousel-caption">
                    <p>Fed-up with an un-organized paper based <br />
                    <span class="green">Medical reports, X-rays, Prescription, Bills...</span></p>
                    <a href="javascript:void(0);" class="expore-link btn">EXPLORE HEALTHSNAPP</a>
                  </div>
                </div>
              </div>
            </div> 
            <div class="item">
              <img src="assets/phr/images/banner1.jpg" width="100%" alt="healthsnapp">
              <div class="container">
                <div class="row">
                  <div class="carousel-caption">
                    <p>Fed-up with an un-organized paper based <br />
                    <span class="green">Medical reports, X-rays, Prescription, Bills...</span></p>
                    <a href="javascript:void(0);" class="expore-link btn">EXPLORE HEALTHSNAPP</a>
                  </div>
                </div>
              </div>
            </div> 
            <div class="item">
              <img src="assets/phr/images/banner1.jpg" width="100%" alt="healthsnapp">
              <div class="container">
                <div class="row">
                  <div class="carousel-caption">
                    <p>Fed-up with an un-organized paper based <br />
                    <span class="green">Medical reports, X-rays, Prescription, Bills...</span></p>
                    <a href="javascript:void(0);" class="expore-link btn">EXPLORE HEALTHSNAPP</a>
                  </div>
                </div>
              </div>
            </div> 
          </div> 
        </div> 
      </div>
</section>
<section id="about">
	<div class="container">
		<div class="row">
			<div class="welcome-txt text-center">
				<a href="#about">
					<img src="assets/phr/images/down-arrow.jpg">
				</a>
				<h1 class="green">WELCOME TO HEALTHSNAPP</h1>
				<p>Healthsnapp Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
					book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
			</div>
		</div>
	</div>
</section>

<section id="benefits">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center feature-cols">
				<div class="col-md-3">
					<img src="assets/phr/images/phr.png" alt="PHR" title="PHR">
					<h4 class="green">PHR</h4>
					<p>PHR is a paperless, digital storage of patient medical records and that information available/shareinstantly, securely to authorized users.</p>
				</div>

				<div class="col-md-3">
					<img src="assets/phr/images/records.png" alt="Share Records" title="Share Records">
					<h4 class="green">Share Records</h4>
					<p>Share Clinical notes, Prescription, Lab reports and disease monitoring with doctor of your choice and get instant advice.</p>
				</div>

				<div class="col-md-3">
					<img src="assets/phr/images/storage.png" alt="Report Storage" title="Report Storage">
					<h4 class="green">Report Storage</h4>
					<p>Store all your family member records online in organized manner for life time.</p>
				</div>

				<div class="col-md-3">
					<img src="assets/phr/images/medication.png" alt="Manage Medication" title="Manage Medication">
					<h4 class="green">Manage Medication</h4>
					<p>Track your Medication Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="dashboard">
		<div class="container">
			<div class="row">
				<div class="col-md-4 dashboard-left">
					<div class="media">
						<div class="media-left">
							<img src="assets/phr/images/dashboard_web.png" alt="Dashboard" title="Dashboard">
						</div>
						<div class="media-body">
							<h4 class="green">Dashboard</h4>
							<p>Smart dashboard which manages Event, Visit, Disease monitoring at one place.</p>
						</div>
					</div>

					<div class="media">
						<div class="media-left">
							<img src="assets/phr/images/notification.png" alt="Get Notifications" title="Get Notifications">
						</div>
						<div class="media-body">
							<h4 class="green">Get Notifications</h4>
							<p>Get remainder for Medication, Appointments & TODO via SMS</p>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-8">
					<img src="assets/phr/images/dashboard-screen.png" width="100%" alt="Healthsnapp Dashboard" title="Healthsnapp Dashboard">
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</section>

<section id="mobile-app">
	<div class="container">
		<div class="row">
			<div class="col-md-4 text-center">
				<img src="assets/phr/images/mobile.png">
			</div>
			<div class="col-md-8 mobile-app-right">
				<h2>Connect Any where</h2>
				<h4>Download Mobile App</h4>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked
					up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
				<a href="javascript:void(0);">
					<img src="assets/phr/images/google-play.png" alt="Google Play" title="Google Play">
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</section>

<footer id="contact">
	<div class="container">
		<div class="row contact">
			<div class="col-md-4 contact-left">
				<h2>Contact Us</h2>
				<address>
					<strong>Head Office :</strong>
					<p>5th Floor, Mantri Galleria, Off S.B. Road,
						<br /> Model Colony, Shivaji Nagar,
						<br /> Pune - 411016, India.</p>
				</address>

				<address>
					<strong>Phone :</strong> +91-20-25650411
					<br />
					<strong>Telefax :</strong> +91-20-25650412
					<br />
					<strong>E-mail :</strong> <a href="mailto:sales@medsynaptic.com">sales@medsynaptic.com</a>
				</address>
			</div>
			<div class="col-md-8 contact-right">
				<h2>Feedback</h2>
				<form name="feedback-form" id="feedback-form" method="post" style="display:block">
					<div class="col-md-6 feedback-left">
						<div class="form-group">
							<input type="text" class="form-control" id="fbk-name" name="name" onkeyup="if (/[^A-Za-z ]/g.test(this.value)) this.value = this.value.replace(/[^A-Za-z ]/g,'')" placeholder="Name">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="email" id="fbk-email" placeholder="Email">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="mobile" id="fbk-mob" onkeyup="if (/[^0-9.]/g.test(this.value)) this.value = this.value.replace(/[^0-9.]/g,'')" placeholder="Mobile">
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="col-md-6 feedback-right">
						<div class="form-group">
							<textarea class="form-control" name="comment" maxlength="500" id="fbk-com" onkeyup="if (/[^a-zA-Z0-9 ,-/()]/g.test(this.value)) this.value = this.value.replace(/[^a-zA-Z0-9 ,-/()]/g,'')" placeholder="Comments"></textarea>
						</div>
						<div class="form-group text-right">
							<button type="submit" class="btn btn-default feedback-btn" name="submit">SUBMIT</button>
						</div>
					</div>
					<div class="clearfix"></div>
				</form>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="row powered-copyright">
			<div class="powered col-md-6">
				<span>
					<strong>Powered By:</strong>
				</span>
				<img src="assets/phr/images/medsynaptic.jpg" alt="Medsynaptic Pvt. Ltd." title="Medsynaptic Pvt. Ltd.">
			</div>
			<div class="copyright col-md-6 text-right">Copyright &copy; 2015 Healthsnapp</div>
			<div class="clearfix"></div>
		</div>
	</div>
</footer>
<script type="text/javascript">
	window.history.forward();

	function noBack() {
		window.history.forward();
	}
	$('.menu-toggler').attr("href").replace(/\//, '')
	
</script>
<script src="assets/phr/js/login.js"></script>
<script>
	jQuery(document).ready(function() {
		Login.init();
	});
</script>
<script type="text/javascript">
	// frappe.require("/assets/phr/js/jquery.autocomplete.multiselect.js");
	/*frappe.call({
		method: 'phr.templates.pages.utils.get_specialization_list',
		callback: function(r) {
			$(document).find("#provider_specialization").autocomplete({
				open: function() {
					setTimeout(function() {
						// setting up the css for the "ui-autocomplete" autocomplete result
						$(".ui-autocomplete").css({
							"overflow-y": "scroll",
							"width": "218px",
							"height": "100px",
							"background-color": "inherit",
							"list-style": "none",
							"padding-left": "10px",
							'z-index': 99999999999999
						});
					}, 0);
				},
				source: r.message,
				multiselect: false
			});
			// hiding the span "ui-helper-hidden-accessible"
			$(".ui-helper-hidden-accessible").css({
				"display": "none"
			})
		}
	});*/

	$(".navbar-default").css({
		"padding":"0px",
	});
</script>
{% endblock %} {% block script_lib %}{% include "templates/includes/login.js" %}{% endblock %} {% block sidebar %}{% endblock %}
