<!-- {% block style %}
{% include "templates/includes/dashboard.css" %}
{% include "templates/includes/theme.css" %}
{% endblock %} -->
{% block con_left %}
<div class="list-group-side" id="profile" style="height:auto;margin-top:5%">
   <a href="#" class="list-group-item-side active">PHR Home</a>
   <a noherf class="list-group-item-side" id='profile'>My Profile</a>
</div>
<div class="list-group-side" id="linkedphr">
  <div href="" class="list-group-item-side active">Linked PHR's <a noherf class="create_linkphr"><span style="float:right"><i class="icon-plus"></i></span></div>
  <p class="nolphr">No Linked PHR's</p></a>
</div>
<div class="list-group-side" id="hp">
  <a href="" class="list-group-item-side active">My Providers</a>
  <p class="nohp">No Providers</p>
</div>
<div class="list-group-side" id="mhr">
  <a noherf class="list-group-item-side active">My Health Records</a>
  <a noherf class="list-group-item-side event">Events</a>
  <a noherf class="list-group-item-side">Visits</a>
  <a noherf class="list-group-item-side">Meditations</a>
  <a noherf class="list-group-item-side">Disease Management</a>
  <a noherf class="list-group-item-side">Apointments</a>
  <a noherf class="list-group-item-side">Messages</a>
</div>
{% endblock %}
{% block content %}
<div style="padding-top:1%;">
</div>
<div id="main-con">
  
</div>
{% endblock %}
{% block con_right %}
<div class="list-group-side" style="margin-top:5%">
  <a href="" class="list-group-item-side active">Emergency details</a>
</div>
<div class="list-group-side">
  <a href="" class="list-group-item-side active">To Do List's</a>
</div>
{% endblock %}
{% block script %}
{% include "templates/includes/patient.js" %}
{% endblock %}
