<!-- {% block style %}
{% include "templates/includes/dashboard.css" %}
{% include "templates/includes/theme.css" %}
{% endblock %} -->
{% block con_left %}
<script src="jQuery.jTableCheckbox.min.js"></script>
<div class="list-group-side" id="profile" style="height:auto;margin-top:5%">
   <a href="#" class="list-group-item-side active">PHR Home</a>
   <a noherf class="list-group-item-side" id='profile' data-name="">Profile</a>
</div>
<div class="list-group-side" id="linkedphr">
  <div class="list-group-item-side active">Linked PHR's <a noherf class="create_linkphr" id="clp"><span style="float:right"><i class="icon-plus" data-toggle='tooltip' data-placement='top' title='Add New Linked PHR'></i></span></a></div>
  <div id="clphr">
    <p class="nophr">No Linked PHR's<div class="btn create_linkphr">Add New</div></p>
  </div>  
</div>
<div class="list-group-side" id="hp">
  <div class="list-group-item-side active">My Healthcare Providers <a noherf class="create_provider"><span style="float:right"><i class="icon-plus" data-toggle='tooltip' data-placement='top' title='Add New Provider'></i></span></a></div>
  <div id="hps">
    <p class="hp">No Providers</p>
  </div>
</div>
<div class="list-group-side" id="mhr">
  <div class="list-group-item-side active">My Health Records</div>
  <a noherf class="list-group-item-side event">Events</a>
  <a noherf class="list-group-item-side visit">Visits</a>
  <a noherf class="list-group-item-side medications">Medications</a>
  <a noherf class="list-group-item-side dmonit">Disease Monitoring</a>
  <a noherf class="list-group-item-side appoint">Appointments</a>
  <a noherf class="list-group-item-side msg">Messages</a>
</div>
{% endblock %}
{% block content_area %}
<script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
<div style="padding-top:1%;">
</div>
<div class="top-bar" style="height:50px;">
              <button type="button" class="btn btn-primary home" style ="vertical-align:bottom;" id="home" data-name="">Home</button>
                  <button type="button" class="btn btn-primary market" style="margin:0px auto;">Health Marketplace</button>
                 <div class="linked-phr" style="float:right;"></div>
            </div>
            <div class="form-controller">
                <div class="sub-top-bar" style="padding-top:2%;padding-bottom:2%;background-color:#ECECEC; border-top: 1px solid #006DEA; border-bottom: 1px solid #006DEA;">
                  <div class="page-breadcrumbs" style="width:50%;display:inline-block;">
                    <ul class="breadcrumb">
                    </ul>
                  </div>
                </div>
            </div>
<div class="field-area" style="padding-top:5%"></div>
<div id="main-con"></div>
</div>
{% endblock %}
{% block con_right %}
<div class="list-group-side" id="ed" style="margin-top:5%">
  <a href="" class="list-group-item-side active">Emergency details</a>
</div>
<div class="list-group-side" id="todo">
  <div class="list-group-item-side active">To Do List's
    <a noherf class="create_todo"><span style="float:right"><i class="icon-plus"></i></span></a>
  </div>
  
</div>
<div class="list-group-side" id="ad" style="margin-top:5%">
  <a href="" class="list-group-item-side active">Advertisements</a>
</div>
{% endblock %}
{% block script %}
{% include "templates/includes/provider_page.js" %}
{% endblock %}
