{% block style %}
{% include "templates/includes/dashboard.css" %}
{% endblock %}
{% block phr_con %}
{% endblock %}
{% block con_left %}
<div class="sidebar-container perfect-scrollbar">
    <nav>
    <ul class="main-navigation-menu">
      <li class="active open">
        <a nohref id="home" class="active">
          <div class="item-content">
            <div class="item-media dashboard">
               
            </div>
            <div class="item-inner">
              <span class="title font15"> Dashboard </span>
            </div>
          </div>
        </a>
      </li>
      <li>
        <a nohref>
          <div class="item-content">
            <div class="item-media health_records">
               
            </div>
            <div class="item-inner">
              <span class="title">My Trackers</span><i class="icon-arrow"></i>
            </div>
          </div>
        </a> 
        <ul class="sub-menu">
          <li>
          <a nohref class="appoint">
              <div class="item-content">
                  <div class="item-media appointments">
                  </div>
                  <div class="item-inner" >
                      <span class="title"> Appointments</span>
                  </div>
              </div>  
          </a>
          </li>               
          <li>
              <a nohref class="msgs">
                  <div class="item-content">
                      <div class="item-media visits">
                           
                      </div>
                      <div class="item-inner">
                          <span class="title"> Messages </span>
                      </div>
                  </div>  
              </a>
          </li>
          <li>
              <a nohref class="rmtc">
                  <div class="item-content">
                      <div class="item-media medications">
                           
                      </div>
                      <div class="item-inner">
                          <span class="title"> Remote Consulting </span>
                      </div>
                  </div>   
              </a>
          </li>
          <li>
              <a nohref class="cr">
                  <div class="item-content">
                      <div class="item-media disease_monitoring">
                           
                      </div>
                      <div class="item-inner">
                          <span class="title"> Chat Room </span>
                      </div>
                  </div>   
              </a>
          </li>
          <li>
              <a nohref class="acc">
                  <div class="item-content">
                      <div class="item-media appointments">
                           
                      </div>
                      <div class="item-inner">
                          <span class="title"> Accounts </span>
                      </div>
                  </div>   
              </a>
          </li>
        </ul>  
      </li>
      <li>
        <a nohref>
          <div class="item-content">
            <div class="item-media linked_phr create_linkphr" data-toggle="tooltip" data-placement="top" title="Create Linked PHR"> 
                                
            </div>
            <div class="item-inner">
              <span class="title"> My Patients </span><i class="icon-arrow"></i>
            </div>
          </div>
        </a>
        <ul class="sub-menu" id="clphr">
          <li>
            <a nohref class="patients">
              <div class="item-content">
                  <div class="item-media appointments">
                  </div>
                  <div class="item-inner" >
                      <span class="title">View Patients</span>
                  </div>
              </div>  
            </a>
          </li>
        </ul>
      </li>
      <li id="phr" class="hide">
        <a nohref>
          <div class="item-content">
            <div class="item-media health_records">
               
            </div>
            <div class="item-inner">
              <span class="title"> Patients Health Records </span><i class="icon-arrow"></i>
            </div>
          </div>
        </a> 
        <ul class="sub-menu">
          <li>
          <a nohref class="event">
              <div class="item-content">
                  <div class="item-media events">
                  </div>
                  <div class="item-inner" >
                      <span class="title"> Events </span>
                  </div>
              </div>  
          </a>
          </li>               
          <li>
              <a nohref class="visit">
                  <div class="item-content">
                      <div class="item-media visits">
                           
                      </div>
                      <div class="item-inner">
                          <span class="title"> Visits </span>
                      </div>
                  </div>  
              </a>
          </li>
          <li>
              <a nohref class="medications">
                  <div class="item-content">
                      <div class="item-media medications">
                           
                      </div>
                      <div class="item-inner">
                          <span class="title"> Medications </span>
                      </div>
                  </div>   
              </a>
          </li>
          <li>
              <a nohref class="dmonit">
                  <div class="item-content">
                      <div class="item-media disease_monitoring">
                           
                      </div>
                      <div class="item-inner">
                          <span class="title"> Disease Monitoring </span>
                      </div>
                  </div>   
              </a>
          </li>
          <li>
              <a nohref class="appoint">
                  <div class="item-content">
                      <div class="item-media appointments">
                           
                      </div>
                      <div class="item-inner">
                          <span class="title"> Appointments </span>
                      </div>
                  </div>   
              </a>
          </li>
          <li>
              <a nohref class="msg">
                  <div class="item-content">
                      <div class="item-media msgs">
                      </div>
                      <div class="item-inner">
                          <span class="title">Shared History</span>
                          <span class="msg_count pull-right"></span>
                      </div>
                  </div>   
              </a>
          </li>
        </ul>  
      </li>
       
    </ul>
            <!-- end: MAIN NAVIGATION MENU --> 
  </nav>
</div>
{% endblock %}
{% block topbar %}
    <div class="breadcrumb-bar clearfix">
        <div class="page-breadcrumbs pull-left">
          <ul class="breadcrumb"><li></li></ul>
        </div> 
    </div>
   <div class="top-btns-bar clearfix">
      <div class="user_dp dropdown current-user cdd hide pull-left margin-right-20">
          <a data-toggle="dropdown" class="dropdown-toggle linked-phr" nohref>
              <span id="cimage"></span><span class="username margin-left-5"><span id="cphrname"></span><i class="ti-angle-down margin-left-5 green"></i></span>
          </a>
          <ul class="dropdown-menu dropdown-dark">
              <li>
                  <a nohref class="cdb">
                      Dashboard
                  </a>
              </li> 
              <li>
                  <a nohref class="cprofile">
                      Profile
                  </a>
              </li>
              <li>
                  <a nohref class="csettings">
                      Account Settings
                  </a>
              </li>
          </ul>
      </div>
      <div class="linked-phr pull-right margin-left-20 link-phr">
      </div>
      
       <div class="pull-right margin-left-20 save_controller">
        <button class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
      </div>
      <div class="pull-right margin-left-20 new_controller">
        <button class="btn btn-primary pull-right new_controller"><i class="fa fa-plus-square"></i> New</button>
      </div>  
  </div>
{% endblock %}

{% block content_area %}
<script src="/assets/phr/vendor/jquery/jquery.min.js"></script>
<script src="/assets/phr/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/phr/vendor/modernizr/modernizr.js"></script>
<script src="/assets/phr/vendor/jquery-cookie/jquery.cookie.js"></script>
<script src="/assets/phr/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/assets/phr/vendor/switchery/switchery.min.js"></script>
<script src="/assets/phr/vendor/Chart.js/Chart.min.js"></script>
<script src="assets/phr/vendor/jquery.sparkline/jquery.sparkline.min.js"></script>


<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<!-- start: JAVASCRIPTS -->
<script src="assets/phr/js/main.js"></script>
<script src="assets/phr/js/index.js"></script>
<!-- start: JavaScript Event Handlers for this page -->

    <script>
      jQuery(document).ready(function() {
         $('.main-navigation-menu > li > a').click(function(){           
          $('.main-navigation-menu li a').removeClass('active');             
          $(this).addClass('active');
        });
        
        $('.main-navigation-menu > li > ul > li').click(function(){     
          $('.main-navigation-menu li ul li a').removeClass('active');             
          $(this).find('a').addClass('active');
        });
        Main.init();
        
      });
    </script>
  <!-- end: MAIN JAVASCRIPTS -->

<script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
<div class="field-area"></div>
<div id="main-con"></div>
{% endblock %}
{% block con_right %}
<div class="panel panel-white no-radius to_do_lists">
    <div class="panel-heading border-bottom">
        <h4 class="panel-title">
        <img src="assets/phr/images/todolist.png" alt="To Do Lists" title="To Do Lists"> To Do List's
        <a nohref class="create_todo"><span id="add_list" data-toggle="tooltip" data-placement="top" title="Create To Do"> </span></a>
        </h4>
    </div>
    <div class="panel-body">
      <div suppress-scroll-x="true" wheel-propagation="false" perfect-scrollbar="" class="panel-scroll height-215 ng-scope ps-container ps-active-y"> 
        <ul class="timeline-xs" id="tdlst">
          
        </ul>
      </div>
    </div>
</div> 
<div class="panel panel-white no-radius advertise">
    <div class="panel-heading border-bottom">
        <h4 class="panel-title"><img src="assets/phr/images/advertisements.png" alt="Advertisements" title="Advertisements"> Advertisements</h4>
    </div>
    <div class="panel-body">
      <div suppress-scroll-x="true" wheel-propagation="false" perfect-scrollbar="" class="panel-scroll height-130 ng-scope ps-container ps-active-y"> 
        <ul id='adlst'>
             
        </ul>
      </div>
    </div>
  </div> 
  <div class="clearfix"></div>
</div>

{% endblock %}
{% block script %}
{% include "templates/includes/provider_page.js" %}
{% endblock %}
