{% block title %} {{_("Update Password")}} {% endblock %}

{% block header %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="main-login col-xs-10 col-sm-8 col-md-3">
	<div class="row" style="margin-top: 75px; margin-bottom: 20px">
		<div class="logo margin-top-30">
			<img src="assets/phr/images/logo.png" alt="Healthsnapp"/>
		</div>
		<div class="box-login">
			<div class="form-login">
				<fieldset>
					<legend>{{_("Reset Password")}}</legend>
					<br>
					<!-- <div class="panel-heading">
						<h4><i class="icon-key"></i> {{_("Reset Password")}}</h4>
					</div> -->
					<div class="panel-body">
						<div class="form-group">
							<input id="new_password" type="password"
								class="form-control" placeholder="New Password">
						</div>
						<div class="form-group">
							<button type="submit" id="update"
								class="btn btn-primary">{{_("Update")}}</button>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</div>

<script>

$(document).ready(function() {
	if(get_url_arg("key")) {
		$("#old_password").parent().toggle(false);
	}
	
	$("#new_password").on("keypress", function(e) {
		if(e.which===13) $("#update").click();
	})
	
	$("#update").click(function() {
		var args = {
			id: get_url_arg("id") || "",
			//old_password: $("#old_password").val(),
			new_password: $("#new_password").val()
		}
		
		/*if(!args.old_password && !args.key) {
			frappe.msgprint("Old Password Required.");
			return;
		}*/
		if(!args.new_password) {
			frappe.msgprint("New Password Required.")
			return;
		}
		
		frappe.call({
			type: "POST",
			method: "phr.phr.verifier.update_password",
			btn: $("#update"),
			args: args,
			callback: function(r) {
				if(r.message) {
					$("input").val("");
					var dialog = frappe.msgprint(r.message);
					dialog.on("hide.bs.modal",function() {
						window.location.href = "/login";
					});
				}
			}
		})
	})
});

</script>
{% endblock %}