{% block title %} {{_("Verify Mobile")}} {% endblock %}

{% block header %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="main-login col-xs-10 col-sm-8 col-md-3">
	<div class="row" style="margin-top: 75px; margin-bottom: 20px">
		<div class="logo margin-top-30">
			<img src="assets/phr/images/logo.png" alt="Healthsnapp"/>
		</div>
		<div class="box-login">
			<div class="form-login">
				<fieldset>
					<legend>{{_("Verify Mobile")}}</legend>
					<br>
					<div class="panel-body">
						<p>Please Enter the verification code sent to your registered mobile</p>
						<div class="form-group">
							<input id="code" type="text"
								class="form-control" placeholder="Verification Code">
						</div>
						<div class="form-group">
							<button type="submit" id="update"
								class="btn btn-primary">{{_("Verify")}}</button>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</div>

<script>

$(document).ready(function() {
	
	$("#code").on("keypress", function(e) {
		if(e.which===13) $("#update").click();
	})
	
	$("#update").click(function() {
		var id=get_url_arg("id") || "";
		var args = {
			id:id,
			code: $("#code").val()
		}
				
		if(!args.code) {
			frappe.msgprint("Please Enter Verification code")
			return;
		}
		
		frappe.call({
			type: "POST",
			method: "phr.phr.verifier.verify_mobile",
			btn: $("#update"),
			args: args,
			callback: function(r) {
				if(r.message) {
					$("input").val("");
					if(r.message.returncode==100){
						var dialog = frappe.msgprint(r.message.message_summary);
						dialog.on("hide.bs.modal", function() {
							window.location.href = "update_password?id="+id;
						});
					}
					else if(r.message.returncode==404){
						var dialog = frappe.msgprint(r.message.message_summary);
					}
				}
			}
		})
	})
});

</script>
{% endblock %}