{% block title %} {{_("Verify Email")}} {% endblock %}

{% block header %}{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="main-login col-xs-10 col-sm-8 col-md-3">
	<div class="row" style="margin-top: 75px; margin-bottom: 20px">
		<div class="logo margin-top-30">
			<img src="assets/phr/images/logo.png" alt="Healthsnapp"/>
		</div>
		<div class="box-login">
			<div class="form-login">
				<fieldset>
					<legend>{{_("Verify Email")}}</legend>
					<br>
					<!-- <div class="panel-heading">
						<h4><i class="icon-key"></i> {{_("Verify Email")}}</h4>
					</div> -->
					<div class="panel-body">
						<div class="form-group">
							<button type="submit" id="update"
								class="btn btn-primary">{{_("Activate")}}</button>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</div>

<script>

$(document).ready(function() {
	
	$("#code").on("keypress", function(e) {
		if(e.which===13) $("#update").click();
	})
	
	$("#update").click(function() {
		var id=get_url_arg("id") || "";
		var args = {
			id: id,
			key: get_url_arg("key") || "",
		}
		frappe.call({
			type: "POST",
			method: "phr.phr.verifier.verify_email",
			btn: $("#update"),
			args: args,
			callback: function(r) {
				if(r.message) {
					var dialog = frappe.msgprint(r.message);
					dialog.on("hide.bs.modal", function() {
						window.location.href = "verify_mobile?id="+id;
					});
				}
			}
		})
	})
});

</script>
{% endblock %}