<div class="list-group-side" id="profile" style="height:auto;margin-top:5%">
   <a href="#" class="list-group-item-side active">PHR Home</a>
   <a href="" class="list-group-item-side" id='profile'>My Profile</a>
</div>
<div class="list-group-side" id="linkedphr">
  <a href="" class="list-group-item-side active">Linked PHR's</a>
  <p id="nolphr">No Linked PHR's</p>
</div>
<div class="list-group-side" id="hp">
  <a href="" class="list-group-item-side active">My Providers</a>
  <p id="nohp">No Providers</p>
</div>
<div class="list-group-side" id="mhr">
</div>