<header class="navbar navbar-default navbar-static-top">
	<!-- start: NAVBAR HEADER -->
	<div class="navbar-header">
		<a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg" class="btn btn-navbar sidebar-toggle" data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
			<i class="ti-align-justify"></i>
		</a>
		<a class="navbar-brand" href="#">
			<img src="assets/phr/images/logo.png" alt="Healthsnapp"  title="Healthsnapp" />
		</a>
		<a href="#" class="sidebar-toggler pull-right visible-md visible-lg" data-toggle-class="app-sidebar-closed" data-toggle-target="#app">
			<i class="ti-align-justify"></i>
		</a>
		<a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse" href=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<i class="ti-view-grid"></i>
		</a>
	</div>
	<!-- end: NAVBAR HEADER -->
	<!-- start: NAVBAR COLLAPSE -->
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-right">
			<!-- start: HEALTH MARKETPLACE DROPDOWN -->
			<li class="dropdown">
				<a href class="dropdown-toggle" data-toggle="dropdown">
					<i class="ti-check-box"></i> <span>HEALTH MARKETPLACE</span>
				</a> 
			</li>
			<!-- end: HEALTH MARKETPLACE  -->
            <!-- start: MESSAGES DROPDOWN -->
			<li class="dropdown">
				<a nohref class="dropdown-toggle" data-toggle="dropdown">
					<span class="dot-badge partition-red"></span> <i class="ti-comment"></i> <span>MESSAGES</span>
				</a>
				<ul class="dropdown-menu dropdown-light dropdown-messages dropdown-large">
					<li>
						<span class="dropdown-header"> Unread messages</span>
					</li>
					<li>
						<div class="drop-down-wrapper ps-container">
							<ul>
								<li class="unread">
									<a nohref class="unread">
										<div class="clearfix">
											<div class="thread-image">
												<img src="/assets/phr/images/avatar-2.jpg" alt="">
											</div>
											<div class="thread-content">
												<span class="author">Nicole Bell</span>
												<span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>
												<span class="time"> Just Now</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="javascript:void(0);" class="unread">
										<div class="clearfix">
											<div class="thread-image">
												<img src="/assets/phr/images/avatar-3.jpg" alt="">
											</div>
											<div class="thread-content">
												<span class="author">Steven Thompson</span>
												<span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>
												<span class="time">8 hrs</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="javascript:void(0);">
										<div class="clearfix">
											<div class="thread-image">
												<img src="/assets/phr/images/avatar-5.jpg" alt="">
											</div>
											<div class="thread-content">
												<span class="author">Kenneth Ross</span>
												<span class="preview">Duis mollis, est non commodo luctus, nisi erat porttitor ligula...</span>
												<span class="time">14 hrs</span>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="view-all">
						<a href="#">
							See All
						</a>
					</li>
				</ul>
			</li>
			<!-- end: MESSAGES DROPDOWN -->  
			<!-- start: USER OPTIONS DROPDOWN -->
			<li class="dropdown current-user logged-in" id="website-post-login" data-label="website-post-login">
				<a nohref class="dropdown-toggle" data-toggle="dropdown">
					<img class="user-picture"
						style="min-width: 20px; max-height: 20px; border-radius: 4px"/>
						<b class="full-name"></b><b class="caret"></b>
				</a>
				</a>
				<ul class="dropdown-menu dropdown-dark">
					<li>
						<a href="javascript:void(0);">
							My Profile
						</a>
					</li> 
					{%- for child in post_login -%}
						<li {% if child.label %}data-label="{{ child.label }}" {% endif %}
							{% if child.class %} class="{{ child.class }}" {% endif %}>
						{%- if child.url -%}
						<a href="{{ child.url }}" {{ child.target or '' }}
							rel="nofollow">
						{%- if child.icon -%}
							<i class="icon-fixed-width {{ child.icon }}"></i>
						{%- endif -%}
						{{ child.label }}
						</a>
						{%- endif -%}
						</li>
					{%- endfor -%}
				</ul>

			</li>
			<li class="btn-login-area"><a href="/login">
				{%- if not disable_signup %}Sign Up / {% endif -%} Login</a></li>
			<!-- end: USER OPTIONS DROPDOWN -->
		</ul>
		<!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
		<div class="close-handle visible-xs-block menu-toggler" data-toggle="collapse" href=".navbar-collapse">
			<div class="arrow-left"></div>
			<div class="arrow-right"></div>
		</div>
		<!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
	</div> 
</header>

