<h3>{{ title }}</h3>
<p>{{_("Dear")}} {{ first_name }}{% if last_name %} {{ last_name}}{% endif %},</p>
<p>{{_("A new account has been created for you")}}.</p>
<p>{{_("Your login id is")}}: <b>{{ user }}</b>
<p>{{_("Your temp password is")}}: <b>{{ password }}</b></p>
<p>{{_("Click on the link below to complete your registration and set a new password")}}.</p>
<p><b><a href="{{ link }}">{{_("Complete Registration")}}</a></b></p>
<br>
<p>{{_("You can also copy-paste this link in your browser")}} <a href="{{ link }}">{{ link }}</a></p>
<br>
<p>{{_(You will also receive a Mobile verification code on your mobile, please use the same for verifying your mobile number.)}}</p>  
<p>{{_(Incase you do not receive a mobile verification sms, please contact our Support desk.</p>)}}
<br>
<p>{{_("Thank you")}},<br>
{{ user_fullname }}</p>